@tailwind base;
@tailwind components;
@tailwind utilities;

.loader-wrapper {
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffffff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    z-index: 9;
    top: 0;
  }
  
  .loader {
    border: 16px solid #111;
    border-radius: 50%;
    border-top: 16px double #fc6a57;
    border-bottom: 16px double #fc6a57;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }